<form action="{{ url('miliooo_message_thread_actions') }}" method="post">
<table class="table">

    <thead>
    <tr>
        <th></th>
        <th>{% trans from 'MilioooMessagingBundle' %}table.subject{% endtrans %}</th>
        <th>{% trans from 'MilioooMessagingBundle' %}table.starter{% endtrans %}</th>
        <th>{% trans from 'MilioooMessagingBundle' %}table.messages{% endtrans %}</th>
        <th>{% trans from 'MilioooMessagingBundle' %}table.last_message{% endtrans %}</th>
    </tr>

    </thead>
    {% if pagerfanta.getNbResults > 0 %}

        {% for thread in pagerfanta.getCurrentPageResults %}
            {% set unreadCount = miliooo_messaging_unread_message_count(thread) %}
            <tr>
                <td>
                    <label>
                        <input type='checkbox' name='selected_threads[]' value='{{ thread.id }}'/>
                    </label>
                </td>
                <td>
                    <a href="{{ url('miliooo_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>{% if unreadCount > 0 %}&nbsp;<span class="badge">{{ unreadCount }}</span>{% endif %}
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ url('miliooo_message_thread_view', {'threadId': thread.id}) }}#message-{{ thread.lastMessage.id }}" title="{% trans from 'MilioooMessagingBundle' %}goto_last{% endtrans %}">#</a>
                        {% trans with {'%date%': thread.lastMessage.createdAt|date} from 'MilioooMessagingBundle' %}on{% endtrans %}
                        <br />
                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'MilioooMessagingBundle' %}by{% endtrans %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">{% trans from 'MilioooMessagingBundle' %}no_threads_found{% endtrans %}</td>
        </tr>

    {% endif %}
</table>
{% if pagerfanta.haveToPaginate %}
    <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}</div>
{% endif %}
    <label for="thread_action">
        <select name="thread_action">
            <option value="archive_thread">Archive thread</option>
        </select>
    </label>
    <button type="submit" class="btn btn-default">Submit</button>
    <input type="hidden" name="folder" value="{{ folder }}" />
</form>
