<table class="table">
    {% if pagerfanta.getNbResults > 0 %}
        {% for thread in pagerfanta.getCurrentPageResults %}
            <tr>
                <td>
                    <a href="{{ url('miliooo_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.createdAt|date }}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">{% trans from 'MilioooMessagingBundle' %}no_threads_found{% endtrans %}</td>
        </tr>

    {% endif %}
</table>
{% if pagerfanta.haveToPaginate %}
    <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}</div>
{% endif %}
